1. Crea dos variables, una para un numero entero y ota para un número real. Imprime ambos números

In [ ]:
entero = 10
real = 3.14
print("Número entero:", entero)
print("Número real:", real)

Número entero: 10
Número real: 3.14

Ejercicio 1.2: Calcula el resultado de una suma, resta, multiplicación y división entre los dos números creados anteriormente. Imprime los resultados.

In [ ]:
suma = entero + real
resta = entero - real
multiplicacion = entero * real
division = entero / real

print("Suma:", suma)
print("Resta:", resta)
print("Multiplicación:", multiplicacion)
print("División:", division)

Suma: 13.14
Resta: 6.859999999999999
Multiplicación: 31.400000000000002
División: 3.184713375796178

Ejercicio 2.1: Crea una variable que almacene tu nombre y otra que almacene tu apellido. Concatenalos en una sola cadena y imprímela.

In [ ]:
nombre = "Juan"
apellido = "Pérez"
nombre_completo = nombre + " " + apellido
print("Nombre completo:", nombre_completo)

Nombre completo: Juan Pérez

Ejercicio 2.2: Convierte tu nombre completo a mayúsculas y minúsculas e imprímelos.

In [ ]:
print("En mayúsculas:", nombre_completo.upper())
print("En minúsculas:", nombre_completo.lower())

En mayúsculas: JUAN PÉREZ
En minúsculas: juan pérez

Ejercicio 3.1: Crea una lista con los números del 1 al 5 e imprímela. Luego, agrega el número 6 al final de la lista.

In [ ]:
numeros = [1, 2, 3, 4, 5]
print("Lista original:", numeros)

numeros.append(6)
print("Lista después de agregar 6:", numeros)

Lista original: [1, 2, 3, 4, 5]
Lista después de agregar 6: [1, 2, 3, 4, 5, 6]

Ejercicio 3.2: Accede al tercer elemento de la lista y modifícalo para que sea 10.

In [ ]:
numeros[2] = 10
print("Lista después de modificar el tercer elemento:", numeros)

Lista después de modificar el tercer elemento: [1, 2, 10, 4, 5, 6]

Ejercicio 4.1: Crea un diccionario que contenga el nombre de una persona como clave y su edad como valor. Imprime el diccionario.

In [ ]:
persona = {
    "nombre": "Juan Pérez",
    "edad": 30
}
print("Diccionario:", persona)

Diccionario: {'nombre': 'Juan Pérez', 'edad': 30}

Ejercicio 4.2: Agrega una nueva clave al diccionario para almacenar la ciudad en la que vive la persona.

In [ ]:
persona["ciudad"] = "Lima"
print("Diccionario actualizado:", persona)

Diccionario actualizado: {'nombre': 'Juan Pérez', 'edad': 30, 'ciudad': 'Lima'}

Ejercicio 5.1: Escribe un programa que verifique si un número es positivo, negativo o cero. Imprime el resultado.

In [ ]:
numero = -5

if numero > 0:
    print("El número es positivo")
elif numero < 0:
    print("El número es negativo")
else:
    print("El número es cero")

El número es negativo

Ejercicio 6.1: Utiliza un bucle for para imprimir los números del 1 al 10.

In [ ]:
Ejercicio 6.1: Utiliza un bucle for para imprimir los números del 1 al 10.

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Ejercicio 6.2: Utiliza un bucle while para imprimir los números del 10 al 1.

In [ ]:
i = 10
while i > 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1